@import './app.css';
@import 'code-editor.css';
@import './transitions.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .sidebar{
        transition: .25s all;
        transform: translateX(-100%);
        opacity: 0;
        width: 0;
    }
    .sidebar.active{
        transition: .25s all;
        transform: translateX(0);
        opacity: 1;
        width: auto;
    }
}
